Checks: >
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  bugprone-*,
  -bugprone-argument-comment,
  -bugprone-easily-swappable-parameters,
  -bugprone-infinite-loop,,
  -bugprone-virtual-near-miss,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  -cppcoreguidelines-*,
  -darwin-*,
  -fuchsia-*,
  fuchsia-statically-constructed-objects,
  fuchsia-virtual-inheritance,
  google-*,
  -google-objc-function-naming,
  -google-objc-global-variable-declaration,
  -google-readability-avoid-underscore-in-googletest-name,
  hicpp-*,
  linuxkernel-*,
  -llvm-*,
  llvm-namespace-comment,
  llvm-prefer-isa-or-dyn-cast-in-conditionals,
  llvm-prefer-static-over-anonymous-namespace,
  -llvmlibc-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  mpi-*,
  -objc-*,
  -openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-avoid-const-params-in-decls,
  -readability-enum-initial-value,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-named-parameter,
  -zircon-*

WarningsAsErrors: true

CheckOptions:
  - key: misc-include-cleaner.MissingIncludes
    value: 'false'
  # TODO: Remove everything but DefaultCase for
  # readability-identifier-naming when it is fixed.
  - key: readability-identifier-naming.DefaultCase
    value: 'lower_case'
  - key: readability-identifier-naming.AbstractClassCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassConstexprCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassMethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConceptCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstantMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstantParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstantPointerParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstexprFunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstexprMethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstexprVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.EnumCase
    value: 'lower_case'
  - key: readability-identifier-naming.EnumConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.FunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalConstexprVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalConstantPointerCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalFunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalPointerCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.InlineNamespaceCase
    value: 'lower_case'
  - key: readability-identifier-naming.LocalConstexprVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.LocalConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.LocalConstantPointerCase
    value: 'lower_case'
  - key: readability-identifier-naming.LocalPointerCase
    value: 'lower_case'
  - key: readability-identifier-naming.LocalVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.MacroDefinitionCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.MemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.MethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.NamespaceCase
    value: 'lower_case'
  - key: readability-identifier-naming.ParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.ParameterPackCase
    value: 'lower_case'
  - key: readability-identifier-naming.PointerParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.PrivateMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.PrivateMethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.ProtectedMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.ProtectedMethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.PublicMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.PublicMethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.ScopedEnumConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.StaticConstexprVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.StaticConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.StaticVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.StructCase
    value: 'lower_case'
  - key: readability-identifier-naming.TemplateParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.TemplateTemplateParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.TypeAliasCase
    value: 'lower_case'
  - key: readability-identifier-naming.TypedefCase
    value: 'lower_case'
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.UnionCase
    value: 'lower_case'
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.VirtualMethodCase
    value: 'lower_case'
  - key: readability-inconsistent-declaration-parameter-name.Strict
    value: 'lower_case'
  - key: readability-operators-representation.BinaryOperators
    value: '&&;&=;&;|;~;!;!=;||;|=;^;^='
  - key: readability-operators-representation.OverloadedOperators
    value: '&&;&=;&;|;~;!;!=;||;|=;^;^='
  - key: readability-redundant-inline-specifier.StrictMode
    value: 'true'
  - key: readability-uniqueptr-delete-release.PreferResetCall
    value: 'true'
  
