Checks: >
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  bugprone-*,
  -bugprone-capturing-this-in-member-variable,
  -bugprone-compare-pointer-to-member-virtual-function,
  -bugprone-copy-constructor-init,
  -bugprone-copy-constructor-mutates-argument,
  -bugprone-crtp-constructor-accessibility,
  -bugprone-dangling-handle,
  -bugprone-derived-method-shadowing-base-method,
  -bugprone-easily-swappable-parameters,
  -bugprone-empty-catch,
  -bugprone-exception-copy-constructor-throws,
  -bugprone-exception-escape,
  -bugprone-forward-declaration-namespace,
  -bugprone-forwarding-reference-overload,
  -bugprone-inaccurate-erase,
  -bugprone-incorrect-enable-if,
  -bugprone-incorrect-enable-shared-from-this,
  -bugprone-infinite-loop,
  -bugprone-lambda-function-name,
  -bugprone-move-forwarding-reference,
  -bugprone-no-escape,
  -bugprone-non-zero-enum-to-bool-conversion,
  -bugprone-nondeterministic-pointer-iteration-order,
  -bugprone-optional-value-conversion,
  -bugprone-pointer-arithmetic-on-polymorphic-object,
  -bugprone-random-generator-seed,
  -bugprone-shared-ptr-array-mismatch,
  -bugprone-spuriously-wake-up-functions,
  -bugprone-standalone-empty,
  -bugprone-std-exception-baseclass,
  -bugprone-std-namespace-modification,
  -bugprone-string-constructor,
  -bugprone-string-integer-assignment,
  -bugprone-stringview-nullptr,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-throw-keyword-missing,
  -bugprone-throwing-static-initialization,
  -bugprone-unchecked-optional-access,
  -bugprone-undelegated-constructor,
  -bugprone-unhandled-exception-at-new,
  -bugprone-unhandled-self-assignment,
  -bugprone-unintended-char-ostream-output,
  -bugprone-unique-ptr-array-mismatch,
  -bugprone-unsafe-to-allow-exceptions,
  -bugprone-use-after-move,
  -bugprone-virtual-near-miss,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  -cppcoreguidelines-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-pro-bounds-constant-array-index,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  hicpp-multiway-paths-covered,
  hicpp-signed-bitwise,
  linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -misc-*,
  misc-confusable-identifiers,
  misc-const-correctness,
  misc-definitions-in-headers,
  misc-header-include-cycle,
  misc-include-cleaner,
  misc-misleading-bidirectional,
  misc-misleading-identifier,
  misc-misplaced-const,
  misc-new-delete-overloads,
  misc-predictable-rand,
  misc-redundant-expression,
  misc-unused-parameters,
  misc-use-internal-linkage,
  -modernize-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -performance-*,
  performance-implicit-conversion-in-loop,
  performance-type-promotion-in-math-fn,
  -portability-*,
  portability-avoid-pragma-once,
  portability-no-assembler,
  portability-restrict-system-includes,
  -readability-*,
  readability-avoid-nested-conditional-operator,
  readability-avoid-return-with-void-value,
  readability-avoid-unconditional-preprocessor-if,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-else-after-return,
  readability-identifier-naming,
  readability-inconsistent-declaration-parameter-name,
  readability-inconsistent-ifelse-braces,
  readability-isolate-declaration,
  readability-magic-numbers,
  readability-math-missing-parentheses,
  readability-misleading-indentation,
  readability-misplaced-array-index,
  readability-non-const-parameter,
  readability-redundant-casting,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-parentheses,
  readability-redundant-preprocessor,
  readability-simplify-boolean-expr,
  readability-trailing-comma,
  -zircon-*

WarningsAsErrors: true

CheckOptions:
  - key: hicpp-multiway-paths-covered.WarnOnMissingElse
    value: 'true'
  - key: misc-unused-parameters.StrictMode
    value: 'true'
  # TODO: Remove everything but DefaultCase for
  # readability-identifier-naming when it is fixed.
  - key: readability-identifier-naming.DefaultCase
    value: 'lower_case'
  - key: readability-identifier-naming.AbstractClassCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassConstexprCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassMethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConceptCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstantMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstantParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstantPointerParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstexprFunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstexprMethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstexprVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.EnumCase
    value: 'lower_case'
  - key: readability-identifier-naming.EnumConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.FunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalConstexprVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalConstantPointerCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalFunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalPointerCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.InlineNamespaceCase
    value: 'lower_case'
  - key: readability-identifier-naming.LocalConstexprVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.LocalConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.LocalConstantPointerCase
    value: 'lower_case'
  - key: readability-identifier-naming.LocalPointerCase
    value: 'lower_case'
  - key: readability-identifier-naming.LocalVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.MacroDefinitionCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.MemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.MethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.NamespaceCase
    value: 'lower_case'
  - key: readability-identifier-naming.ParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.ParameterPackCase
    value: 'lower_case'
  - key: readability-identifier-naming.PointerParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.PrivateMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.PrivateMethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.ProtectedMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.ProtectedMethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.PublicMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.PublicMethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.ScopedEnumConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.StaticConstexprVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.StaticConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.StaticVariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.StructCase
    value: 'lower_case'
  - key: readability-identifier-naming.TemplateParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.TemplateTemplateParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.TypeAliasCase
    value: 'lower_case'
  - key: readability-identifier-naming.TypedefCase
    value: 'lower_case'
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.UnionCase
    value: 'lower_case'
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.VirtualMethodCase
    value: 'lower_case'
  - key: readability-inconsistent-declaration-parameter-name.Strict
    value: 'lower_case'
  - key: readability-trailing-comma.SingleLineCommaPolicy
    value: 'Append'
  - key: readability-operators-representation.BinaryOperators
    value: '&&;&=;&;|;~;!;!=;||;|=;^;^='
  - key: readability-operators-representation.OverloadedOperators
    value: '&&;&=;&;|;~;!;!=;||;|=;^;^='
  - key: readability-redundant-inline-specifier.StrictMode
    value: 'true'
  - key: readability-uniqueptr-delete-release.PreferResetCall
    value: 'true'
  
